In [1]:
import nltk
import pandas as pd
from nltk.translate import IBMModel1
from nltk.translate import Alignment, AlignedSent

In [2]:
corpus = pd.read_excel('corpus.xlsx')
corpus.head()

                   Bahasa Cirebon                              Arti
0               Isun dolanan geni                  saya bermain api
1          Ira nggoleti wadon bae      kamu mencari perempuan terus
2       Watu ning kali abot pisan       batu di sungai berat sekali
3  Kebriben carae ngeliwet sega ?  bagaimana caranya memasak nasi ?
4            umah iku duwur pisan           rumah itu tinggi sekali

In [3]:
bitext = []
for i in range(len(corpus)):
    cirebon = str(corpus.iloc[i,0]).lower().split()
    indonesia = str(corpus.iloc[i,1]).lower().split()
    align = []
    #     Align didapat dari banyaknya kata
    for i in range(len(cirebon)):
        align.append((i,i))
    bitext.append(AlignedSent(indonesia ,cirebon, Alignment(align)))

In [12]:
com_ibm1 = IBMModel1(bitext, 5)

In [27]:
print(round(com_ibm1.translation_table["api"]["geni"], 2) )

0.47

In [28]:
print(round(com_ibm1.translation_table["saya"]["isun"], 2) )

0.98

In [29]:
print(round(com_ibm1.translation_table["tidur"]["turu"], 2) )

0.74

In [30]:
# counterCrb = 0
# counterInd = 0
# for i in range(len(corpus)):
#     crb = str(corpus.iloc[i,0]).lower().split()
#     ind = str(corpus.iloc[i,1]).lower().split()
#     counterCrb += len([w for w in crb if w == "isun"])
#     counterInd += len([w for w in ind if w == "saya"])
# counterCrb, counterInd
# Pencarian data suatu kata didalam corpus

(6, 6)

[]